
.FooterButtonsContainer {
    position: fixed;
    bottom: 20px; /* Ajusta la posición verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%);
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
  }
  
  .FooterButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .FooterButton:hover {
    background-color: #0056b3;
  }

  .scene-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0; /* Color de fondo opcional */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }